
@charset "utf-8";
html{
  background: image-url("1.jpg") center center / cover no-repeat fixed;
}
button {
  outline:none;
  display: inline-block;
  margin: auto;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  text-align: center;
  cursor: pointer;
  border-radius:100%;
  height: 100px;
  width: 100px;
  border: solid 2px #fff;
  background: none;
  color: #fff;
  text-align: center;
  &:hover{
    background: rgba(255,255,255,0.5);
  }
}
