
@charset "utf-8";
.bijin-wafuku{
  background: image-url("bijin-wafuku.jpg") center center / cover no-repeat fixed;
}
.bijin-fune{
  background: image-url("bijin-fune.jpg") center center / cover no-repeat fixed;
}
.bijin-kouen{
  background: image-url("bijin-kouen.jpg") center center / cover no-repeat fixed;
}
.bijin-mizugi{
  background: image-url("bijin-mizugi.jpg") center center / cover no-repeat fixed;
}
h1{
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 0px 2px #000;
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
}
h2{
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 0px 2px #000;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}
p{
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 0px 2px #000;
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
}
button {
  outline:none;
  display: inline-block;
  margin: auto;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  text-align: center;
  cursor: pointer;
  border-radius:100%;
  height: 100px;
  width: 100px;
  border: solid 2px #fff;
  background: none;
  color: #fff;
  text-align: center;
  &:hover{
    background: rgba(255,255,255,0.5);
  }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}